:host {
  box-sizing: border-box;
  display: block;
}

.-cl-hidden {
  display: none !important;
}

.-cl-number-data {
  display: inline-block;
  width: 3ch;
}

/* Refined and Minimalist Search Box */
.-cmp-search-box {
  display: flex;
  align-items: center;
  padding: 12px;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative; /* ใช้เพื่อจัดการตำแหน่งปุ่ม */
}

.-cl-field {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.-cl-control {
  width: 90%;
  padding: 10px 16px;
  border: 1px solid var(--app-border-color);
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s ease-in-out;

  &:focus {
    border-color: var(--app-primary-color);
  }
}

.-cmp-actions-bar {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;

  & > .-cl-actions-group {
    display: flex;
    flex-direction: row;
  }

  & > .-cl-meta {
    margin-left: auto;
  }
}

.-cmp-resoures-list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  margin-top: 1em;
  padding-bottom: 1em;
}

.-cmp-resource {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  padding: 8px 3ch;

  border: 1px solid var(--app-primary-color);
  border-radius: 4px;

  & > * {
    margin: 0px;
    padding: 0px;
  }

  & > details {
    & > summary {
      cursor: pointer;

      & > * {
        display: inline;
        margin: 0px;
        padding: 0px;
      }
    }

    & > p {
      white-space: pre-wrap;
    }
  }

  & > footer {
    margin-top: 8px;
    font-size: smaller;
  }
}
